body {
	background:url(intro-bg.jpeg) no-repeat  center center;
}

.fancy {
	color:#cc41bf;
	font-size:35px;
}
#my-list {
	color:#f96f00;
}
.intro-message {
	text-align:center;
	padding-top:10%;
	padding-bottom:4%;
	color:#000;
}
.signup-form {
	color:#fff;
	text-align:center;
}
.email {
	color:#f00;
}
.fade {
opacity: 0;
-webkit-transition: opacity 2.25s linear;
  -moz-transition: opacity 2.25s linear;
   -ms-transition: opacity 2.25s linear;
	-o-transition: opacity 2.25s linear;
	   transition: opacity 2.25s linear;
}
#mc_embed_signup label {
	font:14px 'Open Sans',sans-serif; 
}
#mc_embed_signup input.email {
	width:95% !important;
}
mc-embedded-subscribe {
	width:95% !important;
}

#mc_embed_signup{
	background:rgba(0,0,0,0.6); 
	clear:left; 

	border-radius:8px;
}
#mc_embed_signup label {
	color:#fff;
}
.nav-pills li.active a{
	background:rgba(0,0,0,0.6);
}
.nav-pills>li>a {
	border-top-left-radius:4px!important;
	border-top-right-radius:4px!important;
	border-bottom-left-radius:0px!important;
	border-bottom-right-radius:0px!important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus :{
	background:rgba(0,0,0,0.6) !important;	
}